body{
	background-color: #90ee90;     
}
a {
	text-decoration: none;
}
.login-header{
	background-color: #90ee90;
	padding: 50px 20px;
}
.site-container{
	background-color: #90ee90;
	margin-bottom: 0;
}

.welcome{
	background-color: #f2f2f2;
	width: 50%;
	margin: 30px auto;
	border-radius: 10px; 
}
#loginform [type=email],
#loginform [type=password]{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
}
#loginform [type=submit]{
	width: 30%;
	background-color: #4caf50;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#loginform [type=submit]:hover{
	background-color: #66cc00;